Repository codecatchllc/codecatch-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, npm run lint:fix

.lintstagedrc:

{
  "*.{md,json}": ["npm run format:fix"],
  "*.{js,ts}": ["npm run format:fix", "npm run lint:fix"]
}

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  4cea0bd1d30e562dfb4724a3aebc23e347f1880c
Due: none

chore(main): update package.json keywords and scripts
  package.json
Due: npm run format:fix

fix(main): update peerDependencies
  package.json
Due: npm run format:fix

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  78c62770428fd443e5dcd41e4116fd40c7378a87
Due: none

fix(main): fix npm release
  .github/workflows/release.yml
  .releaserc
Due: none

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  cc9e98686e85c35f7ce54e1f8fba68c181c4bfe6
Due: none

fix(main): add Add icon
  .github/README.md
  dist/index.d.ts
  dist/index.js
  dist/index.mjs
  icons/add.svg
  src/Add.tsx
  src/index.ts
Due: npm run format:fix, npm run lint:fix

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  eb8d287798419d815647e259b20513f31ccd87b2
Due: none

chore(main): update package.json description
  package.json
Due: npm run format:fix
